In [11]:
import pandas as pd

df=pd.read_csv('suicide_rate.csv', skiprows=1,
               names=['Entity', 'Code', 'Year', 'Age-standardized death rate from self-harm among both sexes'])
df.head()

,Entity,Code,Year,Age-standardized death rate from self-harm among both sexes
0,Afghanistan,AFG,2000,7.197108
1,Afghanistan,AFG,2001,7.281792
2,Afghanistan,AFG,2002,7.123594
3,Afghanistan,AFG,2003,7.053904
4,Afghanistan,AFG,2004,7.034545