# Veränderung der weltweiten Suizidrate

## Gruppe
- Meret Brand
- Steffi Neuhof
- Leah Talary
- Lena Seger

## Fragen
- In welchen Ländern hat die Suizidrate am meisten zugenommen?
- Weshalb könnte das so sein?

## Quellen
- https://ourworldindata.org/grapher/death-rate-from-suicides-gho?country=FIN~AUT~NOR~FRA~LUX~ESP~ITA

# 1. Daten beschaffen und laden

In [7]:
import pandas as pd

In [8]:
# loading the data

df = pd.read_csv('suicide_rate.csv', skiprows=1,
                 names=['Entity', 'Code', 'Year', 'Age-standardized death rate from self-harm among both sexes'])
df.head()

,Entity,Code,Year,Age-standardized death rate from self-harm among both sexes
0,Afghanistan,AFG,2000,7.197108
1,Afghanistan,AFG,2001,7.281792
2,Afghanistan,AFG,2002,7.123594
3,Afghanistan,AFG,2003,7.053904
4,Afghanistan,AFG,2004,7.034545

# 2. Daten vorbereiten

In [10]:
df_pivot=df.pivot(index='Entity', columns='Year', values='Age-standardized death rate from self-harm among both sexes')
df_pivot.head()

Year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Entity,,,,,,,,,,,,,,,,,,,,,
Afghanistan,7.197108,7.281792,7.123594,7.053904,7.034545,6.910225,6.608689,6.476178,6.302887,5.891947,...,5.774172,5.685669,5.535404,5.319865,5.322144,5.470633,5.424701,5.367804,5.324849,5.320608
Africa,10.093091,10.013195,10.017222,10.010037,9.915320,9.732854,9.715343,9.649155,9.645603,9.606206,...,9.522184,9.436768,9.414608,9.401263,9.310595,9.228361,9.374145,9.355742,9.379318,9.580948
Albania,5.104753,4.418037,4.479788,4.595087,4.502845,6.913495,6.862893,6.947456,6.954976,6.820407,...,4.092385,4.056547,3.798754,3.580979,3.450706,3.292069,3.141507,3.026028,2.507422,2.143994
Algeria,4.140792,3.921089,3.803862,3.521953,3.327965,3.218484,3.081167,2.945067,2.815762,2.683964,...,2.364761,2.327027,2.295923,2.225488,2.135747,2.136896,2.172493,2.170682,1.848795,2.320863
Andorra,9.685721,10.776894,10.718483,9.985846,11.859435,10.398196,10.702955,10.374284,10.033582,9.822695,...,8.119903,9.338711,9.277414,9.163852,9.708513,8.330241,7.659383,8.645201,12.004117,5.742578

# 3. Statistik der Roh-Daten (Analyse im Long-Format)

über die einzelnen Spalten kann folgendes ausgesagt werden:
-
-
-
-

In [11]:
df.dtypes

Entity                                                          object
Code                                                            object
Year                                                             int64
Age-standardized death rate from self-harm among both sexes    float64
dtype: object

# 3.1 Analyse Gebiete

In [12]:
print('Anzahl verschiederner Gebiete: ', len(df['Entity'].unique()))

Anzahl verschiederner Gebiete:  201

In [13]:
# Anzahl Datenpunkte pro Gebiet
df['Entity'].value_counts()

Entity
Afghanistan    22
Africa         22
Albania        22
Algeria        22
Andorra        22
               ..
Vietnam        22
World          22
Yemen          22
Zambia         22
Zimbabwe       22
Name: count, Length: 201, dtype: int64